
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family:Poppins;
    src: url('../../fonts/Poppins-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

.column-one{
    display: grid;
    grid-template-columns: 100%;
}

.column-two{
    display: grid;
    grid-template-columns: 50% auto
}
.container{
    background: linear-gradient(90deg,#b7b78a 50%,#3c6255);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.wrapper{
    background-color: white;
    width: 90%;
    height: 90vh;
}
.wrapper-tabel{
    background-color: white;
    width: 90%;
    height: 100vh;
}

.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.hero img{
    width: 45vw;
}
.content{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    border-left: 5px solid #3c6255;
    padding: 20px;
}
.content-table{
    display: flex;
    width: 100%;
}
.content h3{
    color: rgb(73, 73, 73);
    font-size: 30px;
    font-family: Poppins;
    text-transform: uppercase;
    letter-spacing: 3px;
}
.content h1{
    color: #3c6255;
    font-size: 18px;
    font-family: Poppins;
}
.content p{
    color: black;
    font-size: 15px;
    font-family: Poppins;
    line-height: 30px;
    text-align: justify;
}
.content button{
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    border:none;
    background-color: #2545be;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.form-select{
    display: block;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 2px solid whitesmoke;
    background-color: white;
    border-radius: 10px;
}
.form-select:hover{
    border: 2px solid #7765EF;
}
.content button:hover{
    background-color: #0d3ae1;
}
.btn-action{
    padding: 15px 30px;
    font-size: 18px;
    color: white;
    border:none;
    background-color: #2545be;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}
.btn-action:hover{
    background-color: #0d3ae1;
}

#form-pasien h3{
    font-family: Poppins;
    font-size: 20px;
    text-align: center;
}

.form-control-input{
    width: 100%;
    border: none;
    padding: 10px;
    border-bottom: 3px solid #DDDDDD;
    font-family: Poppins;

}
.form-control-input:hover{
    border-bottom: 3px solid #7765EF;
}
.form-control-input:focus{
    border-bottom: 3px solid #7765EF;
}



/* media query */

